.content{
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 200px;
}

.sidenav{
    position: fixed;
    top: 0;
    left: 0;
    background-color: #f4f4f4;
    height: 100vh;
    padding: 20px;
    box-shadow: 2px 0px 5px rgba(0,0,0,0.1);

}

.top-nav{
    
}
.home-page{
    justify-self: center;
}
